.todo-list {
  width: 60%;
  margin: auto;
}

.header {
  background-color: rgb(100, 100, 100);
  display: flex;
  justify-content: center;
}

.body {
  margin-top: 40px;
}

.body > button {
  margin-right: 10px;
  height: 30px;
  width: 80px;
}

.todo-item {
  height: 50px;
  border: 1px solid rgb(175, 175, 175);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  margin: 10px 0;
}

.todo-item-checked {
  text-decoration-line: line-through;
  opacity: 0.3;
}

.input > form {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input > form > input {
  width: 90%;
  height: 50px;
  box-sizing: border-box;
  font-size: large;
}

.input > form > button {
  height: 50px;
}
